.container {
    display: flex;
    height: 100%;
    width: 25%;
    margin: 15px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
}