.container {
    width: 87vw;
    margin: auto;
}

.form {
    margin-top: 5vh;
}

.button {
    margin-top: 4vh;
}

.textContainer {
    overflow-y: auto;
    height: 50vh;
    margin-top: 5vh;
    background: rgba(239, 244, 255, 0.79);
}
